.home-page{
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-wrap: wrap;
    align-content: flex-start;
}
.navbar-horizontal{
    width: 100%;
    padding: 4px;
}

.carousel-produto{
    display: flow-root;
    flex-direction: column-reverse
}