/* carrinho.css */
body, html {
    height: 100%; /* Garante que o corpo da página ocupe a altura total */
    margin: 0;
    display: flex;
    flex-direction: column; /* Organiza o conteúdo em coluna */
  }
  
  #root {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }
  
  main {
    flex: 1;
  }

  .carrinho-container {
    height: 99%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: #ffffff;
  }
  
  .carrinho {
    width: 100%;
    max-width: 600px;
    margin: auto; /* Centraliza o carrinho na página */
    /* ...restante do seu CSS... */
  }
  
